body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #FFD;
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
}
*, *:before, *:after {
	box-sizing: inherit;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
}


#clocksContainer{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
.clockWrapper{
	border-radius: 5px;
	padding: 10px;
	background-color: #bbb;
	margin: 20px;
}
.clock{
	width: 500px;
	height: 200px;
	text-align: center;
	font-size: 48px;
	line-height: 200px;
	position: relative;
}
.clockTitle{
	position: absolute;
	line-height: initial;
	font-size: 36px;
	top: 10px;
	left: 0;
	right: 0;
	color: #D00;
}
#clockOne,#clockTwo{
	background-color: #000;
	color: #D00;
	border-radius: 5px;
}
#clockThree{
	border-radius: 5px;
}
#bgLabel{
	position: absolute;
	line-height: initial;
	font-size: 16px;
	bottom: 10px;
	left: 0;
	right: 0;
}
.clockButton{
	width: 150px;
	height: 5px;
	position: absolute;
	top: -15px;
	left: 0;
	right: 0;
	background-color: #999;
	border-radius: 3px 3px 0 0;
}
.clockFootLeft{
	width: 75px;
	height: 5px;
	position: absolute;
	bottom: -15px;
	left: 0;
	background-color: #999;
}
.clockFootRight{
	width: 75px;
	height: 5px;
	position: absolute;
	bottom: -15px;
	right: 0;
	background-color: #999;
}